.ava{
    width: 100px;
    height: 100px;
}
.text-1{
    font-size: 20px;
    margin-top: 80px;
}
img{
    width: 160px;
    height: 160px;
}
.text-2{
    font-size: 18px;
}
.text-3{
    font-size: 22px;
    margin: 0 auto;
}
.text-5{
    font-size: 12px;
}
.text-6{
    font-size: 12px;
}
